<div class="card">
  <div [formGroup]="form">
    <div class="formgrid grid">
      <div class="field col">
        <label for="timezone">Timezone</label>
        <p-dropdown styleClass="inputfield w-full" id="timezone" formControlName="time_zone" [filter]="true" [options]="timezoneList" placeholder="Select a timezone" optionLabel="label" optionValue="tzCode" [showClear]="true"></p-dropdown>
      </div>
      <div class="field col">
        <label for="end_time">When does your timer end? (max 90 days)</label>
        <p-calendar styleClass="inputfield w-full" id="end_time" formControlName="end_time" [showTime]="true" [minDate]="todayDateNoHours" [maxDate]="maxDateNoHours"></p-calendar>
      </div>
    </div>

    <h4>Style</h4>

    <p-dropdown formControlName="style" [filter]="true" [options]="stylesList" placeholder="Select style" optionLabel="label" optionValue="value" [showClear]="true"></p-dropdown>


    <div class="formgrid grid mt-2">
      <div class="col-12 md:col-3">
        <label for="background_color">Background color</label>
        <p-colorPicker styleClass="inputfield w-full"  id="background_color" formControlName="background_color"  [inline]="false" [style]="{'width':'100%'}"></p-colorPicker>
      </div>
      <div class="col-12 md:col-3">
        <label for="font_name">Interval font</label>
        <p-dropdown id="font_name" styleClass="inputfield w-full"  formControlName="font_name" [filter]="true" [options]="fontList" placeholder="Select a font" optionLabel="label" optionValue="value" [showClear]="true"></p-dropdown>
      </div>
      <div class="col-12 md:col-3">
        <label for="interval_text_color">Interval text color</label>
        <p-colorPicker id="interval_text_color" styleClass="inputfield w-full"  formControlName="font_color"  [inline]="false"></p-colorPicker>
      </div>
    </div>



    <h4>Text</h4>

    <p-checkbox formControlName="show_interval_text" label="Show interval text" [binary]="true"></p-checkbox>

    <div *ngIf="isShowIntervalText">
      <div class="grid">
        <div class="col-6 field">
          <h5>Days Text</h5>
          <input type="text"  pInputText [maxlength]="maxLength" formControlName="days_text" placeholder="Days text">
        </div>
        <div class="col-6 field">
          <h5>Hours Text</h5>
          <input type="text"  pInputText [maxlength]="maxLength" formControlName="hours_text" placeholder="Hours text">
        </div>
        <div class="col-6 field">
          <h5>Minutes Text</h5>
          <input type="text"  pInputText [maxlength]="maxLength" formControlName="minutes_text" placeholder="Minutes text">
        </div>
        <div class="col-6 field">
          <h5>Seconds Text</h5>
          <input type="text"  pInputText [maxlength]="maxLength" formControlName="seconds_text" placeholder="Seconds text">
        </div>
      </div>
    </div>



    <h4>Footer text color</h4>

    <p-colorPicker formControlName="footer_font_color"  [inline]="false" [style]="{'width':'100%'}"></p-colorPicker>

    <h4>Footer font name</h4>

    <p-dropdown formControlName="footer_font_name" [filter]="true" [options]="fontList" placeholder="Select a font" optionLabel="label" optionValue="value" [showClear]="true"></p-dropdown>



    <h4>Frame size</h4>

    <p-inputNumber [min]="61" [max]="181" formControlName="frame_size"></p-inputNumber>

    <h4>Renderer</h4>

    <p-dropdown formControlName="font_renderer" [filter]="true" [options]="rendererList" placeholder="Select font renderer" optionLabel="label" optionValue="value" [showClear]="true"></p-dropdown>

    <div class="mt-3">
      <p-button [loading]="loading" (onClick)="onSubmit()" type="submit" label="Generate" [disabled]="!form.valid"></p-button>
    </div>


  </div>



</div>
